body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: #383535;
    background-image: url(Group\ 2.png);
    background-size: cover;
    background-repeat: no-repeat; 
}

.text{
    color: white;
    font-size: 30px;
    font-family: Frightmare;
    letter-spacing: 2px;
    text-shadow: 5px 8px 5px black;
    margin: 40px;
}

section{
    display: flex;
    justify-content: space-between;

}

@font-face {
    font-family: Frightmare;
    src: url(Frightmare.otf);
}